<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name ="SovTechAutomationProject">

<listeners>
<listener class-name = "com.ContactUs.utilities.Reporting"/>
</listeners>

<test name = "ContactUs Test">
<parameter name = "browser" value= "chrome"/>
<classes>
<class name ="com.ContactUs.testcases.TC_FillForm_Test_001" />
</classes>
</test>
</suite>
